#logout-button {
    margin-left:  20.5cm;
}

#sign-up {
    margin-left: 20cm;  
}

#login-form {
    position: absolute;
    width: 400px;
    margin-left: 28cm;
}

#logged-in-message {
    position: absolute;
    margin-left: 36cm;
    margin-top: -4.1rem;
    color: white  
}

#signed-up-message {
    position: absolute;
    margin-left: 36cm;
    margin-top: -4.1rem;
    color: white 
}

#sign-up-form {
    position: absolute;
    width: 400px;
    margin-left: 28cm;
}

#logo {
    position: relative;
    padding-top: 1%;
    width: 50%;
    
}

body {
    background-color: rgb(167, 195, 202);
  }

