#logout-button {
    margin-left:  20.5cm
}

#sign-up {
    margin-left: 20cm;
    
}

#login-form {
    margin-left: 27cm;
}

#submit-button {
    background-color: cadetblue;
}

#logged-in-message {
    position: absolute;
    margin-left: 30cm;
    margin-top: -4.3rem;
    color: white  
}

#signed-up-message {
    position: absolute;
    margin-left: 30cm;
    margin-top: -4.3rem;
    color: white 
}

#article-list {
    display: flex;
    justify-content: ;
}